Source: bangarang
Section: kde
Priority: optional
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Ryan Kavanagh <rak@debian.org>,
           Andreas Marschke <xxtjaxx@gmail.com>
Build-Depends: cmake,
               debhelper (>= 7.3),
               kdemultimedia-dev (>= 4:4.5.0),
               libtag1-dev,
               pkg-kde-tools (>= 0.5.0),
               shared-desktop-ontologies
Standards-Version: 3.9.3
Homepage: http://gitorious.org/bangarang
Vcs-Browser: http://git.debian.org/?p=pkg-kde/kde-extras/bangarang.git
Vcs-Git: git://git.debian.org/pkg-kde/kde-extras/bangarang.git
DM-Upload-Allowed: yes

Package: bangarang
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Multimedia player with a lightweight interface for KDE
 Offers a media—audio and video—player with a lightweight interface. Integrates
 with the Nepomuk Social Semantic Desktop, supports command line arguments, can
 play CDs and DVDs and audio streams. It also has basic keyboard shortcuts and
 allows users to manually manage playlists.
