Source: bangarang
Section: kde
Priority: optional
Maintainer: Debian Multimedia Packages Maintainers <pkg-multimedia-maintainers@lists.alioth.debian.org>
Uploaders: Ryan Kavanagh <ryanakca@kubuntu.org> , Andreas Marschke <xxtjaxx@gmail.com>
Build-Depends: debhelper (>= 7),
 pkg-kde-tools (>= 0.5.0),
 cmake,
 kdemultimedia-dev,
 libtag1-dev
Standards-Version: 3.8.3
Homepage: http://gitorious.org/bangarang
Vcs-Browser: http://git.debian.org/?p=pkg-multimedia/bangarang.git
Vcs-Git: git://git.debian.org/pkg-multimedia/bangarang.git

Package: bangarang
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 libkcddb4,
 libtag1-vanilla,
 kdelibs5
Description: Multimedia player with a lightweight interface for KDE
 Offers a media—audio and video—player with a lightweight interface. Integrates
 with the Nepomuk Social Semantic Desktop, supports command line arguments, can
 play CDs and DVDs and audio streams. It also has basic keyboard shortcuts and
 allows users to manually manage playlists.
