#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk
# If you're going to use a patchsys, please use quilt
# include /usr/share/cdbs/1/rules/patchsys-quilt.mk
